@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restauraunt Rater is the best.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.
            Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.
            Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.
            Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find the best food</h2>
        <p> Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.
            Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.
            Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.
            Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Restaurant Rating</h2>
        <p> Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.
            Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.
            Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.
            Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.Lorem ipsum stuff.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>